
<ul>

<div class="span9">
        
          

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li>
    <li data-target="#myCarousel" data-slide-to="11"></li>
    <li data-target="#myCarousel" data-slide-to="12"></li>
    <li data-target="#myCarousel" data-slide-to="13"></li>
    <li data-target="#myCarousel" data-slide-to="14"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag ('1007523.jpg') %></div>
    <div class="item"><%= image_tag ('Alfa_Romeo_MiTo.jpg') %></div>
    <div class="item"><%= image_tag ('audi_a4.jpg') %></div> 
    <div class="item"><%= image_tag ('audi_a6.jpg') %></div>
    <div class="item"><%= image_tag ('Audi_r8.jpg') %></div>
    <div class="item"><%= image_tag ('bmn_z4.jpg') %></div>
    <div class="item"><%= image_tag ('bmw_x6.jpg') %></div>
    <div class="item"><%= image_tag ('chevrolet_cruze.jpg') %></div>
    <div class="item"><%= image_tag ('ford_ecosport.jpg') %></div>
    <div class="item"><%= image_tag ('Maserati_Quattroporte.jpg') %></div>
    <div class="item"><%= image_tag ('Mercedes-Benz_B-Klasse.jpg') %></div>
    <div class="item"><%= image_tag ('Mercedes_SLS_AMG.jpg') %></div>
    <div class="item"><%= image_tag ('peugeot-207-desc.jpg') %></div>
    <div class="item"><%= image_tag ('207-sedan.jpg') %></div>
    <div class="item"><%= image_tag ('audi_a6_otro.tmp') %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

          <div class="row-fluid">
            <div class="span4">
              <h2>Alta Gama</h2>
              <p>Ahora andan dando vuelta imagenes oficiales del Nuevo Cooper Cabrio 2009 , en donde podemos apreciar algunos de los cambios estéticos que llevarm, como para destacar que los arcos antivuelco ahora son desplegables. precio:U$S 34.000,00 . </p>
              <p><a class="btn" href="#">ver detalles &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Nuevos</h2>
              <p>bla bla bla. </p>
              <p><a class="btn" href="#">ver detalles &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Usados</h2>
              <p>Desde este blog podes conseguir tu auto muy cerca de tu casa. </p>
              <p><a class="btn" href="#">ver detalles &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div>
</ul>