<h1>Listing vehicles</h1>


<table class="table table-hover table-striped">
  <thead bgcolor="#ECEDEF">
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Vehicle type</th>
      <th>Customer</th>
      <th>precio</th>
      <th>precio dollar</th>
      <th>pre dollar ofic</th>
      <th>pre dollar blue</th>
      <th>pre dollar green</th>
      <th>pre dollar gold</th>
      <th>pre dollar colonia</th>
      <th>pre dollar miami</th>
      <th>Amount Km</th>
      <th>fuel Type</th>
      <th>model Year</th>
      
      <th></th>
    </tr>
  </thead>


<tbody>
  <% @vehicles.each do |vehicle| %> 
  <!-- success(colorido), , :info -->
    <tr class="<%=cycle :error, :warning %>">
      <th><%= vehicle.name %></th>
      <th><%= vehicle.brand.name %></th>
      <th><%= vehicle.vehicle_type.name %></th>
      <th><%= vehicle.customer.name %></th>

      <th><%= vehicle.precio %></th>
      <th><%= vehicle.amount_in_pesos %></th>

      <th><%= vehicle.precio_oficial %></th>
      <th><%= vehicle.precio_blue %></th>
      <th><%= vehicle.precio_green %></th>
      <th><%= vehicle.precio_gold %></th>
      <th><%= vehicle.precio_colonia %></th>
      <th><%= vehicle.precio_miami %></th>

      <th><%= vehicle.amount_km %></th>
      <th><%= vehicle.fuel_type %></th>
      <th><%= vehicle.model_year %></th>
      
      
      <th><%= link_to 'Show', vehicle %></th>
      <th><%= link_to 'Edit', edit_vehicle_path(vehicle) %></th>
      <th><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></th>
    </tr>
  <% end %>
</tbody>
</table>

<br />

<%= link_to icon('plus')+'New Vehicle', new_vehicle_path, class: 'btn btn-success' %>
